@font-face {
  font-family: DNS-Black;
  src: url(./fonts/DNSfont-Black.otf);
  font-weight: black;
}
@font-face {
  font-family: DNS-Bold;
  src: url(./fonts/DNSfont-Bold.otf);
  font-weight: bold;
}
@font-face {
  font-family: DNS-Regular;
  src: url(./fonts/DNSfont-Regular.otf);
  font-weight: Regular;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: DNS-Regular, sans-serif;
  letter-spacing: 0.02em;
  list-style: none;
}

body {
  position: relative;
  padding: 0 30px 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-color: #101116;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  border: none;
}

.header {
  display: grid;
  grid-template-columns: 1fr 400px 1fr;
  width: 100%;
  align-items: center;
  padding: 5px 0;
}

.empty-deck-message {
  width: 280px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 12px;
  top: 12px;
  z-index: 1;
  padding-bottom: 5px;
}
.empty-deck-message__text {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #587099;
  border-radius: 10px;
  border: 2px solid red;
  text-align: center;
  font-size: 24px;
  color: white;
  line-height: 0.6;
  padding: 5px;
}

.admin-panel {
  display: flex;
  position: relative;
  gap: 6px;
  padding: 6px;
  width: 396px;
  height: 44px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #587099;
  z-index: 1;
  top: 0;
  transform: translateY(-5px);
  transition: transform 0.2s ease;
}
.admin-panel.pushed-in {
  transform: translateY(-49px);
}
.admin-panel-button-move {
  position: absolute;
  width: 54px;
  height: 18px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #587099;
  z-index: 1;
  top: 44px;
  left: calc(50% - 27px);
  border: none;
}
.admin-panel-button-move:hover {
  cursor: pointer;
}
.admin-panel-button-image {
  margin: 0 auto;
  width: 16px;
  height: 16px;
  pointer-events: none;
  transition: transform 0.2s ease;
}
.admin-panel-button-image.rotated {
  transform: rotate(180deg);
}
.admin-panel-select {
  width: 240px;
  padding: 2px 6px;
  background-color: #3F5576;
  border-radius: 7px;
  border: none;
  box-shadow: inset 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 20px;
  letter-spacing: 0.05em;
  line-height: 1em;
}
.admin-panel-select:focus-visible {
  outline: none;
}
.admin-panel-input {
  width: 100px;
  padding: 2px 6px;
  background-color: #3F5576;
  border-radius: 7px;
  border: none;
  box-shadow: inset 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 20px;
  letter-spacing: 0.05em;
  line-height: 1em;
}
.admin-panel-input:focus-visible {
  outline: none;
}
.admin-panel-button-submit {
  width: 32px;
  height: 32px;
  background-color: #3F5576;
  border-radius: 7px;
  background-image: url(./images/cross.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.admin-panel-button-submit:hover {
  cursor: pointer;
  box-shadow: inset 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}
.admin-panel-button-submit:active {
  box-shadow: none;
}

.pizza-box {
  justify-self: end;
  width: 195px;
  right: 10px;
  top: 10px;
  display: flex;
  gap: 5px;
  z-index: 1;
}
.pizza-box__letter-box {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.pizza-box__letter-box--opened {
  background-color: #587099;
  color: white;
}
.pizza-box__letter-box--closed {
  border: 1px dashed #587099;
  background-color: #3F5576;
  color: #3F5576;
}
.pizza-box__letter {
  font-size: 30px;
  text-align: center;
  padding-bottom: 4px;
}

.workers-list {
  position: relative;
  display: flex;
  width: 1860px;
  height: 100vh;
  padding: 60px 20px 20px;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  color: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3), 0 4px 8px 3px rgba(0, 0, 0, 0.15);
  background-color: #2F3148;
  border-radius: 16px;
}
.workers-list-worker {
  position: relative;
  background-color: #587099;
  padding: 44px 16px 16px;
  flex: 0 0 348px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
}
.workers-list-cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.worker-title {
  font-size: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.worker-get-random-card-button {
  position: absolute;
  border-radius: 50%;
  background-color: #3F5576;
  width: 70px;
  height: 70px;
  top: -35px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-size: 30px;
  border: 7px solid #2F3148;
  color: white;
  transition: 0.1s ease;
  cursor: pointer;
  box-shadow: inset -5px 4px 6px 4px rgba(50, 150, 48, 0.2);
}
.worker-get-random-card-button:hover {
  color: rgba(0, 0, 0, 0);
  background-image: url(./images/down.svg);
  background-repeat: no-repeat;
  background-position: center center;
  border: 4px solid #2F3148;
  box-shadow: inset -5px 4px 6px 4px rgba(50, 150, 48, 0.2);
}
.worker-get-random-card-button:active {
  border: 7px solid #2F3148;
  box-shadow: inset -5px 4px 6px 4px rgba(50, 150, 48, 0.2);
}
.worker-get-random-card-button:disabled {
  background-color: #587099;
  box-shadow: none;
  background-image: none;
  border: 7px solid #2F3148;
  color: white;
  cursor: default;
  box-shadow: none;
}
.worker-rolls-bar {
  position: absolute;
  top: -35px;
  right: 137px;
  width: 27px;
  height: 27px;
  background-color: #329630;
  border-radius: 50%;
  font-size: 20px;
  line-height: 1.3em;
  box-shadow: -2px 2px 4px 0 rgba(50, 150, 48, 0.25);
}

.worker-crown {
  position: absolute;
  top: -29px;
  right: -11px;
  width: 60px;
  height: 60px;
  transform: rotate(23deg);
}

.bonus-card {
  position: relative;
  width: 316px;
  height: 35px;
  cursor: pointer;
  overflow: hidden;
}
.bonus-card:active {
  box-shadow: none;
}
.bonus-card-text {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
  background-color: #8689AC;
  font-size: 18px;
  line-height: 1.6em;
  cursor: pointer;
  z-index: 3;
  transition: transform 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.bonus-card-text.moved-left {
  transform: translateX(-80px);
}
.bonus-card-text.moved-left-far {
  transform: translateX(-270px);
}
.bonus-card-text:hover {
  background-color: #71749A;
}
.bonus-card-text:active {
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}
.bonus-card-button {
  height: 100%;
  font-size: 18px;
  line-height: 1.6em;
  cursor: pointer;
  color: white;
  top: 0;
  background-color: #3F5576;
  background-repeat: no-repeat;
}
.bonus-card-give-button {
  position: absolute;
  z-index: 0;
  right: 40px;
  width: 50px;
  border-right: 2px solid #587099;
  background-image: url(./images/right.png);
  background-size: 53%;
  background-position: 16px center;
}
.bonus-card-give-button:hover {
  background-color: #71749A;
}
.bonus-card-give-button:active {
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}
.bonus-card-use-button {
  position: absolute;
  z-index: 0;
  right: 0;
  width: 40px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-image: url(./images/check.png);
  background-size: 60%;
  background-position: center center;
}
.bonus-card-use-button:hover {
  background-color: #71749A;
}
.bonus-card-use-button:active {
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}
.bonus-card-select {
  position: absolute;
  padding-left: 8px;
  left: 40px;
  top: 0;
  width: 186px;
  height: 100%;
  border: none;
  border-right: 2px solid #587099;
  outline: none;
  background-color: #3F5576;
  color: white;
  font-size: 16px;
}

.progress {
  position: relative;
  width: 316px;
  height: 20px;
}
.progress-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: #3F5576;
  box-shadow: inset 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}
.progress-bar {
  position: absolute;
  width: 0;
  border-radius: 20px;
  background-color: #8689AC;
  height: 100%;
}
.progress-text {
  position: absolute;
  width: 100%;
  font-size: 16px;
  text-align: center;
  line-height: 1.2em;
}
.progress-text-inner {
  letter-spacing: 0.09em;
}

.random-button {
  position: absolute;
  z-index: 20;
  width: 80px;
  height: 20px;
  left: 10px;
  top: 10px;
  margin-right: 250px;
}

.hidden {
  display: none;
}/*# sourceMappingURL=style.css.map */